.container {
    width: 100%;
    height: 955px;
    background: url(../img/chushi/bg.jpg) no-repeat center ;
    min-height: auto;
    overflow: hidden;
}


.top_nav {
    width: 100%;
    height: 100px;
    background: url(../img/chushi/top_nav-bar.png) no-repeat left top;
    position: relative;
    z-index: 3;
}

.top_nav .logo {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 140px;
    height: auto;
    margin:15px  0 0 68px
}
.container .top_nav .logoBox {
    width: 280px;
    height: 100px;
    background: url(../img/chushi/top-nav-box.png) no-repeat;
    margin-top: -10px;
    position: relative;
    display: inline-block;
    vertical-align: top;
    margin-left: 83px;
}
.top_nav .logo img {
    width: 100%
}

.container .top_nav ul {
  line-height: 66px;
  margin: 0;
  display: inline-block;
  vertical-align: top;
}


.top_nav ul {
  margin: 0 0 0 275px;
  line-height: 75px;
  height: 64px
}





.top_nav ul li a {
  color: #fff;
  font-size: 18px
}




.top_nav ul i {
    float: left;
    width: 1px;
    height: 15px;
    background: url(../img/top_navline.png) no-repeat;
    margin-top: 30px
}

.top_nav ul li {
    float: left;
    padding: 0 32px
}



.container .left_btn {
    position: absolute;
    top: 0;
    left: 0;
    width: 368px;
    height: 100%;
    background: url(../img/chushi/left_bg.png) no-repeat right top
}

.container .left_btn .cut {
    display: block;
    width: 65px;
    height: 36px;
    background: url(../img/chushi/cut.png) no-repeat;
    margin-top: 249px;
    margin-left: 238px;
    cursor: pointer;
    position: relative
}

.container .left_btn .cut .cut_c {
    width: 142px;
    height: 36px;
    background: url(../img/chushi/cut_c_.jpg) no-repeat;
    position: absolute;
    right: -150px;
    top: 0;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
    z-index: -1;
    font-size: 0;
    padding-left: 9px
}

.container .left_btn .cut .cut_c a {
    display: inline-block;
    width: 60px;
    text-align: center;
    color: #d1d1d1;
    font-size: 18px;
    line-height: 36px
}

.container .left_btn .cut .cut_c a.on,.container .left_btn .cut .cut_c a:hover {
    color: #f37949
}

.container .left_btn .cut .cut_c a:first-child {
    margin-right: 1px
}

.container .left_btn .cut:hover {
    background: url(../img/chushi/cut_c_.jpg) no-repeat
}

.container .left_btn .cut:hover .cut_c {
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 30
}

.container .left_btn ul {
    margin-top: 35px;
    position: relative
}

.container .left_btn ul li {
    width: 361px;
    height: 72px;
    position: absolute;
    right: 0;
    top: 0
}

.container .left_btn ul li:nth-child(2) {
    top: 98px
}

.container .left_btn ul li:nth-child(3) {
    top: 196px
}

.container .left_btn ul li a {
    display: block;
    height: 100%
}

.container .left_btn ul li a.btn1 {
    background: url(../img/chushi/01.png) no-repeat right top
}

.container .left_btn ul li a.btn1:hover,.container .left_btn ul li a.btn1.on {
    background: url(../img/chushi/01_h.png) no-repeat right top
}

.container .left_btn ul li a.btn2 {
    background: url(../img/chushi/02.png) no-repeat right top
}

.container .left_btn ul li a.btn2:hover,.container .left_btn ul li a.btn2.on {
    background: url(../img/chushi/02_h.png) no-repeat right top
}

.container .left_btn ul li a.btn3 {
    background: url(../img/chushi/03.png) no-repeat right top
}

.container .left_btn ul li a.btn3:hover,.container .left_btn ul li a.btn3.on {
    background: url(../img/chushi/03_h.png) no-repeat right top
}

.container .left_btn .fc {
    width: 549px;
    height: 316px;
    background: url(../img/chushi/fc_cc1af4e.png) no-repeat;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10
}




.container .mid_content {
  margin-left: 368px;
  height: 100%;
}
.container .mid_content .item {
  display: none;
  padding: 0 129px;
  position: relative
}

.container .mid_content .item.on {
  display: block
}

.container .mid_content .item .title {
  width: 100%;
  height: 85px;
  overflow: hidden;
  position: relative;
  margin: 50px auto 0
}

.container .mid_content .item .title img {
  position: absolute;
  left: 50%;
  margin-left: -509px
}

.container .mid_content .item .txt {
  color: #e1fcfd;
  line-height: 40px;
  margin-top: 47px;
  font-size: 0
}

.container .mid_content .item .txt .img {
  display: inline-block;
  vertical-align: top;
  width: 250px;
  height: 550px;
  margin-left: 9px;
  position: relative
}

.container .mid_content .item .txt .img:first-child {
  margin-left: 0
}

.container .mid_content .item .txt .img.img1 {
  background: url(../img/chushi/part2_item1.jpg) no-repeat
}

.container .mid_content .item .txt .img.img2 {
  background: url(../img/chushi/part2_item2.jpg) no-repeat
}

.container .mid_content .item .txt .img.img3 {
  background: url(../img/chushi/part2_item3.jpg) no-repeat
}

.container .mid_content .item .txt .img.img4 {
  background: url(../img/chushi/part2_item4.jpg) no-repeat
}

.container .mid_content .item .txt .img .tips {
  display: none;
  width: 115px;
  height: 114px;
  background: url(../img/chushi/part2_h.png) no-repeat;
  position: absolute;
  left: 50%;
  top: 158px;
  margin-left: -57px
}

.container .mid_content .item .txt .img:hover .tips {
  display: block
}


.container {
  width: 100%;
  height: 955px;
  background: url(../img/chushi/bg2.jpg) no-repeat center 55px;
  min-height: auto;
  overflow: hidden
}

.container .mid_content .item .txt p {
  font-size: 16px;
  padding: 0 10px
}

.container .mid_content .item .txt span {
  font-size: 16px;
  color: #ffb762
}

.container .mid_content .item .data {
  width: 303px;
  height: 149px;
  background: url(../img/chushi/part1_bg1_.png) no-repeat;
  margin: 45px auto 0;
  padding-left: 83px
}

.container .mid_content .item .data ul {
  position: relative;
  top: -10px
}

.container .mid_content .item .data ul li {
  color: #80e1e6;
  font-size: 16px;
  line-height: 34px
}

.container .mid_content .item .data ul li i {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(../img/chushi/item_icon_.png) no-repeat;
  margin-right: 5px
}

.container .mid_content .item .data ul li span {
  color: #f47f4d
}

.container .mid_content .item .btn {
  display: none;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 359px 0 0 154px
}

.container .mid_content .item .btn a {
  display: inline-block;
  width: 120px;
  height: 40px
}

.container .mid_content .item .btn a.prev {
  background: url(../img/chushi/prev.png) no-repeat
}

.container .mid_content .item .btn a.prev:hover {
  background: url(../img/chushi/prev_h_.png) no-repeat
}

.container .mid_content .item .btn a.next {
  background: url(../img/chushi/next.png) no-repeat
}

.container .mid_content .item .btn a.next:hover {
  background: url(../img/chushi/prev_h_.png) no-repeat
}

.container .mid_content .item .title {
  width: 100%;
  height: 85px;
  overflow: hidden;
  position: relative;
  margin: 50px auto 0;
}


.container .mid_content .item3 .intro {
  width: 966px;
  color: #e1fcfd;
  font-size: 16px;
  line-height: 30px;
  margin: 15px auto 0;
}
.container .mid_content .item3 .txt {
  position: relative;
  height: 470px;
}
.container .mid_content .item3 .txt {
  color: #e1fcfd;
  line-height: 40px;
  margin-top: 47px;
  font-size: 0;
}
.container .mid_content .item3  .txt {
  position: relative;
  height: 470px
}

.container .mid_content .item3  .txt a {
  position: absolute;
  height: 332px;
  left: 50%
}

.container .mid_content .item3  .txt a.cj1 {
  width: 290px;
  background: url(https://xz.res.netease.com/pc/zt/20180913102813/img/cs/cj1_536c69f.png) no-repeat;
  top: 100px;
  margin-left: -558px
}

.container .mid_content .item3  .txt a.cj2 {
  width: 272px;
  height: 340px;
  background: url(https://xz.res.netease.com/pc/zt/20180913102813/img/cs/cj2_4dd5945.png) no-repeat;
  top: 0;
  margin-left: -276px
}

.container .mid_content .item3  .txt a.cj3 {
  width: 277px;
  height: 359px;
  background: url(https://xz.res.netease.com/pc/zt/20180913102813/img/cs/cj3_75839c9.png) no-repeat;
  top: -15px;
  margin-left: 12px
}

.container .mid_content .item3  .txt a.cj4 {
  width: 279px;
  height: 332px;
  background: url(https://xz.res.netease.com/pc/zt/20180913102813/img/cs/cj4_9b67505.png) no-repeat;
  top: 100px;
  margin-left: 288px
}

.container .mid_content .item3  .txt a i {
  position: absolute;
  width: 115px;
  height: 82px;
  background: url(https://xz.res.netease.com/pc/zt/20180913102813/img/cs/part3_h_9ce7fa6.png) no-repeat;
  left: 50%;
  top: 102px;
  margin-left: -57px;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: -1;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  -ms-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s
}

.container .mid_content .item3  .txt a:hover i {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=100);
  z-index: 1
}

















.footer {
    padding: 25px 0;
    background: #282828;
    width: 100%;
    max-width: 1920px;
    min-width: 1200px;
    overflow: hidden;
    margin: 0 auto;
  }
  #NIE-copyRight {
    text-align: center;
  }
  
  .nie-copyright-new-inner {
    width: 1024px;
    text-align: left;
    margin: 0 auto;
    padding: 15px 0 10px;
    font-size: 12px;
    line-height: 20px;
  }
  
  .nie-copyright-new-inner .nie-cn-logo {
    display: inline-block;
    vertical-align: middle;
    height: 48px;
    min-width: 300px
  }
  
  .nie-copyright-new-inner .nie-cn-logo a {
    display: inline-block;
    vertical-align: top;
    margin-top: 2px;
  }
  
  .nie-copyright-new-inner .nie-cn-logo a.a0 img {
    padding-right: 0
  }
  
  .nie-copyright-new-inner .nie-cn-logo img {
    padding-right: 15px;
    padding-top: 5px;
    border: 0;
    vertical-align: middle;
  }
  
  .nie-copyright-new-inner .nie-cn-nav {
    display: inline-block;
    vertical-align: top;
    position: relative;
    z-index: 1;
  }
  
  .nie-copyright-new-inner .nie-cn-nav i {
    font-style: normal
  }
  
  .nie-copyright-new-inner .nie-cn-nav i.nie-cn-nav-i2 {
    height: 28px;
    line-height: 28px;
    text-align: left;
  }
  
  .nie-copyright-new-inner .nie-cn-nav a {
    text-decoration: none
  }
  
  .nie-copyright-new-inner .nie-cn-nav a:hover {
    text-decoration: underline
  }
  
  .nie-copyright-new-inner .nie-cn-nav .nie-cn-reportcenter {
    padding-left: 18px;
    font-style: normal;
  }
  .NIE-copyRight p, .NIE-copyRight a, .NIE-copyRight i, .NIE-copyRight span {
      color: #fff;
  }
  .nie-copyright-new-inner .nie-cn-nav a.nie-cn-guardianship {
    display: inline-block;
    color: #fff;
    background-color: #610000;
    position: absolute;
    z-index: 2;
    right: 0;
    height: 26px;
    line-height: 26px;
    padding: 0 3px;
    top: 21px
  }
  
  #NIE-copyRight a.nie-cn-guardianship {
    color: #fff;
  }
  
  .nie-copyright-new-inner .nie-cn-part2 {
    padding-top: 10px;
    line-height: 24px
  }
  
  .nie-copyright-new-inner .nie-cn-part2 a {
    text-decoration: none;
    display: inline-block;
    vertical-align: top
  }
  
  .nie-copyright-new-inner .nie-cn-part2 a:hover {
    text-decoration: underline
  }
  
  .nie-copyright-new-inner .nie-cn-part2 span {
    display: inline-block;
    vertical-align: top;
  }
  
  .nie-cn-part2 a img {
    vertical-align: top
  }
  
  